<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="container-fluid">
          <mat-horizontal-stepper [linear]="false">
            <mat-step [stepControl]="employeeForm" label="Select employees">
              <form [formGroup]="employeeForm">
                <!-- List of employees to select -->
                <mat-selection-list formControlName="employees">
                  <mat-list-option [value]="{id: employee._id}" *ngFor="let employee of employees">
                    {{ employee.firstName }}
                    {{ employee.lastName }}</mat-list-option>
                </mat-selection-list>
                <a routerLink="/employees">Add more employees?</a>
                <div>
                  <!-- <button mat-button matStepperNext [disabled]="!employeeForm.valid">Next Section</button> -->
                  <button mat-button matStepperNext>Next Section</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="quizForm" label="Campaign Quiz">
              <form [formGroup]="quizForm">
                <!-- <mat-form-field class="form-field">
                  <input matInput placeholder="Company Name" type="text" formControlName="companyName" class="" />
                </mat-form-field>
                <mat-form-field class="form-field">
                  <input matInput placeholder="Company Domain" type="text" formControlName="companyDomain" class="" />
                </mat-form-field>
                <mat-form-field class="form-field">
                  <input matInput placeholder="Manager Name" type="text" formControlName="managerName" class="" />
                </mat-form-field> -->
                <mat-form-field class="form-field">
                  <mat-select placeholder="Business Sector" formControlName="sector">
                    <mat-option *ngFor="let option of sectorOptions" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <mat-form-field class="form-field">
                  <mat-select placeholder="Email Provider" formControlName="emailProvider">
                    <mat-option *ngFor="let option of emailProviderOptions" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                </mat-form-field> -->
                <mat-divider></mat-divider>
                <p>Difficulty</p>
                <ng5-slider class="range-slider" [options]="sliderDifficultyOptions" formControlName="difficulty">
                </ng5-slider>
                <p>Office Hours</p>
                <ng5-slider class="range-slider" [options]="sliderOptions" formControlName="officeHours">
                </ng5-slider>
                <mat-divider></mat-divider>
                <div class="quiz-questions">
                  <p>Has an employee fallen for a phishing scam before?</p>
                  <mat-button-toggle-group formControlName="scammedBefore" aria-label="Font Style">
                    <mat-button-toggle value="false">No</mat-button-toggle>
                    <mat-button-toggle value="true">Yes</mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
                <div class="quiz-questions">
                  <p>Do your employees have good technical skills?</p>
                  <mat-button-toggle-group formControlName="technicalSkills" aria-label="Font Style">
                    <mat-button-toggle value="false">No</mat-button-toggle>
                    <mat-button-toggle value="true">Yes</mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
                <div class="quiz-questions">
                  <p>Are you a small/medium sized business?</p>
                  <mat-button-toggle-group formControlName="sme" aria-label="Font Style">
                    <mat-button-toggle value="false">No</mat-button-toggle>
                    <mat-button-toggle value="true">Yes</mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
                <div class="quiz-questions">
                  <p>Do you have a tech department?</p>
                  <mat-button-toggle-group formControlName="techDepartment" aria-label="Font Style">
                    <mat-button-toggle value="false">No</mat-button-toggle>
                    <mat-button-toggle value="true">Yes</mat-button-toggle>
                  </mat-button-toggle-group>
                </div>

                <div>
                  <button mat-button matStepperPrevious>Previous Section</button>
                  <!-- <button mat-button matStepperNext [disabled]="!quizForm.valid">Next Section</button> -->
                  <button mat-button matStepperNext>Next Section</button>
                </div>
              </form>
            </mat-step>
            <mat-step label="Select Template">

              <!-- Select the template required here: -->
              <!-- <h2>Select your template</h2> -->
              <p>Based on your business we recommend these templates, please select one:</p>
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-info">
                    <th>Template Name</th>
                    <th>Description</th>
                    <th>Subject Line</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let template of templates" class="template-list-item"
                      [class.selected-template]="(selectedTemplate.id === template.id)"
                      (click)="selectTemplate(template.id)">
                      <td class="column-grow">{{ template.name }}</td>
                      <td class="column-grow">{{ template.versions[0].name }}</td>
                      <td class="column-grow">{{ template.versions[0].subject }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <button mat-button matStepperPrevious>Previous Section</button>
                <button mat-button matStepperNext>Next Section</button>
                <!-- <button mat-button matStepperNext [disabled]="!detailForm.valid">Next Section</button> -->
              </div>

            </mat-step>
            <mat-step [stepControl]="templateForm" label="Template Parameters">
              <form [formGroup]="senderForm">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-3 col-md-4 d-flex flex-column justify-content-center align-items-start">
                      <p class="text-warning text-uppercase">Sender Details</p>
                    </div>
                    <div class="col-lg-9 col-md-8">
                      <mat-form-field>
                        <input matInput formControlName="domain" type="text" placeholder="Domain Name">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput formControlName="fromName" type="text" placeholder="From">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </form>
              <mat-divider></mat-divider>
              <!-- <div class="html-preview" [innerHTML]="templateHTML"></div> -->
              <form [formGroup]="templateForm" *ngIf="selectedTestData">
                <!-- Display list of inputs -->
                <!-- <h4>Configurable params</h4> -->
                <div class="container mt-1">
                  <div class="row">
                    <div class="col-lg-3 col-md-4 d-flex flex-column justify-content-center align-items-start">
                      <p class="text-warning text-uppercase">Template Details</p>
                    </div>
                    <div class="col-md-8 col-lg-9">

                      <div *ngFor="let param of selectedTestData.params">
                        <mat-form-field>

                          <!-- <p>{{ param.description }}</p> -->
                          <input matInput formControlName="{{param.value}}" type="text" [placeholder]="param.name"
                            (change)="refreshHTMLPreview()">

                        </mat-form-field>
                      </div>

                    </div>
                    <div class="d-flex justify-content-between w-100">
                      <button mat-button matStepperPrevious>Previous</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>

                    <div class="col-md-12 col-lg-12 mb-0 mt-3">
                      <p class="text-muted text-center m-0">Preview</p>
                      <mat-divider></mat-divider>
                      <!-- <h3 class="text-center">Preview</h3> -->
                      <div class="container mt-4">
                        <div class="row">
                          <div class="col-md-1 d-flex justify-content-center align-items-center">
                            <i class="material-icons email-icon">account_circle</i>
                          </div>
                          <div class="col-md-11">
                            <h4 class="font-weight-bold">{{ selectedTemplate.versions[0].subject }}</h4>
                            <p class="mb-0">{{ senderForm.controls.fromName.value }}
                              &lt;{{ senderForm.controls.domain.value }}&gt;</p>
                          </div>
                        </div>
                      </div>
                      <iframe id="template-preview-frame" width="100%" height="800px" [srcdoc]="templateHTML"
                        frameborder="none" scrolling="no"></iframe>
                    </div>
                  </div>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="detailForm" label="Final Step">
              <!-- Select length -->
              <form [formGroup]="detailForm">
                <mat-form-field>
                  <input matInput placeholder="Campaign Name" type="text" formControlName="campaignName" class="" />
                </mat-form-field>
                <!-- Campaign Length -->
                <p>Campaign Length (weeks)</p>
                <mat-slider formControlName="length" class="w-100" [max]="6" [min]="1" [step]="1" thumbLabel
                  [tickInterval]="1">
                </mat-slider>
                <!-- Test campaign -->
                <h4>Preview your campaign email by sending it to yourself:</h4>
                <div class="container">
                  <div class="row d-flex justify-content-between w-100">
                    <div class="col-md-8">
                      <mat-form-field class="w-100">
                        <input matInput placeholder="Email Address" [(ngModel)]="testEmail" name="email"
                          [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <button mat-raised-button (click)="sendTest()">Send Test Email</button>
                    </div>
                  </div>
                </div>
                <div>
                  <button mat-button matStepperPrevious>Previous Section</button>
                  <button mat-button (click)="submit()">Create Campaign</button>
                </div>
              </form>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </div>
    </div>
  </div>
</div>