<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="container-fluid">
          <mat-horizontal-stepper [linear]="false">
            <mat-step [stepControl]="employeeForm" label="Select employees">
              <form [formGroup]="employeeForm">
                <!-- List of employees to select -->
                <mat-selection-list formControlName="employees">
                  <mat-list-option [value]="{id: employee._id}" *ngFor="let employee of employees">
                    {{ employee.firstName }}
                    {{ employee.lastName }}</mat-list-option>
                </mat-selection-list>
                <a routerLink="/employees">Add more employees?</a>
                <div>
                  <!-- <button mat-button matStepperNext [disabled]="!employeeForm.valid">Next Section</button> -->
                  <button mat-button matStepperNext>Next Section</button>
                </div>
              </form>
            </mat-step>

            <mat-step label="Select Template">

              <!-- Select the template required here: -->
              <!-- <h2>Select your template</h2> -->
              <p>Based on your business we recommend these templates, please select one:</p>
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-info">
                    <th>Template Name</th>
                    <th>Description</th>
                    <th>Subject Line</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let template of templates" class="template-list-item"
                      [class.selected-template]="(selectedTemplate.id === template.id)"
                      (click)="selectTemplate(template.id)">
                      <td class="column-grow">{{ template.name }}</td>
                      <td class="column-grow">{{ template.versions[0].name }}</td>
                      <td class="column-grow">{{ template.versions[0].subject }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <button mat-button matStepperPrevious>Previous Section</button>
                <button mat-button matStepperNext>Next Section</button>
                <!-- <button mat-button matStepperNext [disabled]="!detailForm.valid">Next Section</button> -->
              </div>

            </mat-step>
            <mat-step [stepControl]="templateForm" label="Template Parameters">
              <form [formGroup]="senderForm">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-3 col-md-4 d-flex flex-column justify-content-center align-items-start">
                      <p class="text-warning text-uppercase">Sender Details</p>
                    </div>
                    <div class="col-lg-9 col-md-8">
                      <mat-form-field>
                        <input matInput formControlName="domain" type="text" placeholder="Domain Name">
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput formControlName="fromName" type="text" placeholder="From">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </form>
              <mat-divider></mat-divider>
              <!-- <div class="html-preview" [innerHTML]="templateHTML"></div> -->
              <form [formGroup]="templateForm" *ngIf="selectedTestData">
                <!-- Display list of inputs -->
                <!-- <h4>Configurable params</h4> -->
                <div class="container mt-1">
                  <div class="row">
                    <div class="col-lg-3 col-md-4 d-flex flex-column justify-content-center align-items-start">
                      <p class="text-warning text-uppercase">Template Details</p>
                    </div>
                    <div class="col-md-8 col-lg-9">

                      <div *ngFor="let param of selectedTestData.params">
                        <mat-form-field>

                          <!-- <p>{{ param.description }}</p> -->
                          <input matInput formControlName="{{param.value}}" type="text" [placeholder]="param.name"
                            (change)="refreshHTMLPreview()">

                        </mat-form-field>
                      </div>

                    </div>
                    <div class="d-flex justify-content-between w-100">
                      <button mat-button matStepperPrevious>Previous</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>

                    <div class="col-md-12 col-lg-12 mb-0 mt-3">
                      <p class="text-muted text-center m-0">Preview</p>
                      <mat-divider></mat-divider>
                      <!-- <h3 class="text-center">Preview</h3> -->
                      <div class="container mt-4">
                        <div class="row">
                          <div class="col-md-1 d-flex justify-content-center align-items-center">
                            <i class="material-icons email-icon">account_circle</i>
                          </div>
                          <div class="col-md-11">
                            <h4 class="font-weight-bold">{{ selectedTemplate.versions[0].subject }}</h4>
                            <p class="mb-0">{{ senderForm.controls.fromName.value }}
                              &lt;{{ senderForm.controls.domain.value }}&gt;</p>
                          </div>
                        </div>
                      </div>
                      <iframe id="template-preview-frame" width="100%" height="800px" [srcdoc]="templateHTML"
                        frameborder="none" scrolling="no"></iframe>
                    </div>
                  </div>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="detailForm" label="Final Step">
              <!-- Select length -->
              <form [formGroup]="detailForm">
                <div class="container mt-1">
                  <div class="row">
                    <div class="col-lg-3 col-md-4 d-flex flex-column justify-content-center align-items-start">
                      <p class="text-warning text-uppercase">Details</p>
                    </div>
                    <div class="col-md-8 col-lg-9">
                      <mat-form-field>
                        <input matInput placeholder="Campaign Name" type="text" formControlName="campaignName"
                          class="" />
                      </mat-form-field>
                      <mat-slide-toggle class="mb-1" formControlName="startNow">Start Now</mat-slide-toggle>
                      <mat-form-field *ngIf="!detailForm.value.startNow">
                        <input matInput [matDatepicker]="picker" formControlName="startDate" [min]="today" placeholder="Start date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field *ngIf="!detailForm.value.startNow">
                        <input matInput type="time" formControlName="startTime" placeholder="Start time">
                      </mat-form-field>
                      <p class="text-center mb-0">Campaign Length (weeks)</p>
                      <ng5-slider class="range-slider" [options]="sliderLengthOptions" formControlName="length">
                      </ng5-slider>
                    </div>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="row mt-5">
                    <div class="col-lg-3 col-md-4 d-flex flex-column justify-content-center align-items-start">
                      <p class="text-warning text-uppercase">Test</p>
                    </div>
                    <div class="col-md-8 col-lg-9 container">
                      <p class="text-center">Preview your campaign email by sending it to yourself:</p>
                      <div class="row d-flex justify-content-between w-100">
                        <div class="col-md-8">
                          <!-- Test campaign -->
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Email Address" [(ngModel)]="testEmail" name="email"
                              [ngModelOptions]="{standalone: true}" disabled>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <button mat-raised-button (click)="sendTest()">Send Test Email</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-100 d-flex justify-content-between mt-3">
                  <button mat-button matStepperPrevious>Previous Section</button>
                  <button mat-button (click)="submit()">Create Campaign</button>
                </div>
              </form>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </div>
    </div>
  </div>
</div>