<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Whitelist your email server</h4>
        <p class="card-category">Follow our guide below to whitelist your email server:</p>
        <p>Restart</p>
      </div>
      <div class="card-body">
        <!-- Choose whether cloud protected or not -->
        <div class="" *ngIf="">
          <p>Is your mail server protected by cloud software?</p>
        </div>
        <!-- Choose email server -->
        <div class="">
          <p>Select your mail server</p>
        </div>
        <!-- Choose type of email server -->
        <div class="">
          <p>Choose type of mail server</p>
        </div>
        <!-- View results -->
        <div class="">
          <p>Click the link below to see how to whitelist our servers.</p>
        </div>
      </div>
    </div>
  </div>