<div class="justify-content-center container-fluid text-center">
    <div class="">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-signin col-md-5 card">
            <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Username" formControlName="username" class=""
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                </mat-form-field>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" type="password" formControlName="password" class=""
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                </mat-form-field>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button mat-raised-button [disabled]="loading" color="primary" class="w-100">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
            </div>
            <a routerLink="/signup" class="card-link">Don't have an account? Register here</a>
        </form>
    </div>
</div>
<!-- 
<body class="text-center">
    <form class="form-signin">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
            height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2019 Oxyde</p>
    </form>
</body> -->