<div class="main-content">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="card h-100">
        <div class="card-header card-header-info">
          <h4 class="card-title">Change your password</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="submit(form.value)">
            <mat-form-field>
              <input matInput type="password" placeholder="Old Password" formControlName="old">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" placeholder="New Password" formControlName="new">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" placeholder="New Password Again" formControlName="new2">
            </mat-form-field>
            <button mat-raised-button type="submit" [disabled]="!form.valid">Update</button>
            <div *ngIf="showError" class="alert alert-danger mt-3" role="alert">{{ errorMsg }}</div>
            <div *ngIf="showSuccess" class="alert alert-success mt-3" role="alert">{{ successMsg }}</div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>