<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Setup</h4>
        <p class="card-category">Complete all 4 stages below before running a campaign.</p>
      </div>
      <div class="card-body">
        <div class="container d-flex flex-column">
          <button class="w-100 mb-1 p-1" mat-raised-button disabled>
            <div class="container d-flex justify-content-between align-items-center">
              <p class="m-0">Account Details</p>
              <p class="m-0">Incomplete</p>
            </div>
          </button>
          <button class="w-100 mb-1 p-1" mat-raised-button disabled>
            <div class="container d-flex justify-content-between align-items-center">
              <p class="m-0">Company Details</p>
              <p class="m-0">Incomplete</p>
            </div>
          </button>
          <button class="w-100 mb-1 p-1" mat-raised-button [routerLink]="['/setup/whitelist']">
            <div class="container d-flex justify-content-between align-items-center">
              <p class="m-0">Whitelisting your email server</p>
              <p class="m-0">{{ (user.whitelistingSetup) ? 'Complete' : 'Incomplete' }}</p>
            </div>
          </button>
          <button class="w-100 mb-1 p-1" mat-raised-button [disabled]="!user.whitelistingSetup" [routerLink]="['/setup/test']">
            <div class="container d-flex justify-content-between align-items-center">
              <p class="m-0">Test your email server</p>
              <p class="m-0">{{ (user.emailTest) ? 'Complete' : 'Incomplete' }}</p>
            </div>
          </button>
        </div>

      </div>
    </div>
  </div>