<div class="main-content">
    <div class="container-fluid">

        <div class="row" [hidden]="user.accountDetailsCompleted">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <div class="card-title">Welcome to your dashboard</div>
                    </div>
                    <div class="card-body">
                        <p>This looks like the first time you've logged in. In order to begin using the platform you
                            must
                            complete your
                            profile.
                        </p>
                        <div class="d-flex justify-content-center">
                            <button mat-raised-button [routerLink]="['/user-profile']">Complete Profile</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row" [hidden]="!campaign">
            <!-- <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Emails evaded</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase on last
                            week.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h3 class="card-title">Emails</h3>
                    </div>
                    <div class="card-body">
                        <div>

                        </div>
                        <div class="chart-container">
                            <ngx-charts-bar-vertical [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
                                [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                                [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                                [barPadding]="120">
                            </ngx-charts-bar-vertical>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons">access_time</i> updated 4 minutes ago -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" [hidden]="!user.accountDetailsCompleted">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">schedule</i>
                        </div>
                        <a class="card-category" [routerLink]="['/campaigns']">View</a>
                        <h5 class="card-title">Campaign Summary</h5>
                    </div>
                    <div class="card-body" *ngIf="campaign">
                        <mat-list>
                            <!-- <h3 mat-subheader>Score</h3> -->
                            <mat-list-item>
                                <!-- <mat-icon mat-list-icon>note</mat-icon> -->
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <h5>Time Remaining</h5>
                                    <p class="font-weight-bold" class="font-weight-bold">{{ timeRemaining }} {{ (timeRemaining === 1) ? 'day' : 'days' }}</p>
                                </div>
                            </mat-list-item>
                            <mat-list-item>
                                <!-- <mat-icon mat-list-icon>note</mat-icon> -->
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <h5>Engagement</h5>
                                    <p class="font-weight-bold">{{ campaign.report.percentageLinksOpened }}%</p>
                                </div>
                            </mat-list-item>
                            <mat-list-item>
                                <!-- <mat-icon mat-list-icon>note</mat-icon> -->
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <h5>Last Engagement</h5>
                                    <p class="font-weight-bold">{{ timeSinceUpdate }} {{ (timeSinceUpdate === 1) ? 'hour' : 'hours' }} ago</p>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    <div class="card-body" *ngIf="!campaign && lastCampaign">
                        <p>Campaign, {{ lastCampaign.name }}, finished on {{ lastCampaign.endTime | date:'fullDate' }}.</p>
                        <button mat-raised-button [routerLink]="['/campaigns/view/', lastCampaign._id]">View your campaign results here.</button>
                    </div>
                    <div class="card-footer" *ngIf="!campaign">
                        <div class="stats">
                            <!-- <i class="material-icons text-danger">warning</i> -->
                            <p>Start a new campaign <a [routerLink]="['/campaigns/create']">here.</a></p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">supervisor_account</i>
                        </div>
                        <a class="card-category" [routerLink]="['/campaigns']">View</a>
                        <h5 class="card-title">Employee Summary</h5>
                    </div>
                    <div class="card-body" *ngIf="employees.length > 0">
                    </div>
                </div>
            </div> -->
        </div>

    </div>
</div>