.action-header {
    display: flex;
    justify-content: space-between;
}

.action-title {
    flex-grow: 1;
}

.action-header p {
    margin: 0 1em;
}

.chart-container {
    width: 100%;
    height: 300px;
}