<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Your Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                    <div *ngIf="!show">
                      <p>Welcome to Oxyde. In order to use our platform you must first setup your account.
                        This will ensure that we provide the best results for you and ensures that all of our emails
                        make it into your employees accounts. This will take about 10 minutes total depending on your 
                        choice of mail server.
                      </p>
                    </div>
                    <div *ngIf="show === 'verify'">
                      <p>Please verify your account by opening the email we sent your account when you registered. To send another click here.</p>
                    </div>
                    <app-whitelist-test *ngIf="show === 'whitelistTest'"></app-whitelist-test>
                    <app-whitelist-form *ngIf="show === 'whitelistForm'"></app-whitelist-form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <!-- <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div> -->
                  <div class="card-body">
                      <!-- <h6 class="card-category text-gray">Patrick Collings</h6> -->
                      <h4 class="card-title font-weight-bold">Checklist</h4>
                      <ol class="pl-0">
                        <li (click)="show = 'details'" class="d-flex align-items-center justify-content-between">Account Details <i class="material-icons">check_box_outline_blank</i></li>
                        <li (click)="show = 'verify'" class="d-flex align-items-center justify-content-between">Verify your email <i class="material-icons" *ngIf="!user.verified">check_box_outline_blank</i><i class="material-icons" *ngIf="user.verified">check_box</i></li>
                        <li (click)="show = 'whitelistForm'" class="d-flex align-items-center justify-content-between">Whitelist Wizard <i class="material-icons">check_box_outline_blank</i></li>
                        <li (click)="show = 'whitelistTest'" class="d-flex align-items-center justify-content-between">Test your server <i class="material-icons">check_box_outline_blank</i></li>
                      </ol>
                      <!-- <a href="javascript:void(0)" class="btn btn-danger btn-round" disabled>Incomplete</a> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
